# Java / Android
*.class
*.log

# Android
/.idea/
/app/build/
/local.properties
/.android/

# Build
/build-android.zip

# Generated
/app/src/main/res/mipmap-*/*.*

# Web content (injected by build script)
/app/src/main/assets/web/
